node_modules
**/node_modules
.turbo
**/.turbo
dist
**/dist
.next
**/.next
out
**/out
*.tsbuildinfo
.git
.github
.vscode
.idea
docs
tests
apps/api/workspaces
apps/api/Python
docker/mail-data
docker/coredns/zones/*.db
docker/traefik/acme.json
docker/traefik/certs/*.crt
docker/traefik/certs/*.key
.env
.env.local
.env.production
.env.*.local
npm-debug.log*
pnpm-debug.log*
